@{
    ViewData["Title"] = "Starter - Contact";
}

<div class="jumbotron text-center align-content-center">
    <h1>Contact</h1>
</div>

<div class=" elemento container row text-center">
    <div class="col-sm-3">
        <a href="https://github.com/ricardoesousa"><img src="~/img/github.png" class="img-responsive" width=100 height=100 /></a>
    </div>
    <div class="col-sm-3">
        <a href="https://www.linkedin.com/in/ricardoesousa/"><img src="~/img/linkedin.png" class="img-responsive" width=100 height=100 /></a>
    </div>
    <div class="col-sm-3">
        <a href="mailto:ricardoesousa@hotmail.com"><img src="~/img/email.png" class="img-responsive" width=100 height=100 /></a>
    </div>
    <div class="col-sm-3">
        <a href=" http://api.whatsapp.com/send?1=pt_BR&phone=5511948767241"><img src="~/img/whatsapp.png" class="img-responsive" width=100 height=100 /></a>
    </div>
</div>