@{
    ViewData["Title"] = "Starter - Contact";
}

<body>

    <div class="jumbotron text-center">
        <h1>Contact</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Um presente</h3>
                <p>Ter a oportunidade de  recomeçar e aprender mais a cada dia.</p>
            </div>
            <div class="col-sm-4">
                <h3>Um desafio</h3>
                <p>Me tornar referência na área de desenvolvimento.</p>
            </div>
            <div class="col-sm-4">
                <h3>Um sonho</h3>
                <p>Olhar para trás e me sentir orgulhoso da trajetória percorrida.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Um presente</h3>
                <p>Ter a oportunidade de  recomeçar e aprender mais a cada dia.</p>
            </div>
            <div class="col-sm-4">
                <h3>Um desafio</h3>
                <p>Me tornar referência na área de desenvolvimento.</p>
            </div>
            <div class="col-sm-4">
                <h3>Um sonho</h3>
                <p>Olhar para trás e me sentir orgulhoso da trajetória percorrida.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Um presente</h3>
                <p>Ter a oportunidade de  recomeçar e aprender mais a cada dia.</p>
            </div>
            <div class="col-sm-4">
                <h3>Um desafio</h3>
                <p>Me tornar referência na área de desenvolvimento.</p>
            </div>
            <div class="col-sm-4">
                <h3>Um sonho</h3>
                <p>Olhar para trás e me sentir orgulhoso da trajetória percorrida.</p>
            </div>
        </div>
    </div>

</body>
