@{
    ViewData["Title"] = "Starter - Home";
}

<style>

    h5 {
        padding-top: 20px;
    }
</style>


<div class="jumbotron text-center">

    <h1>Ricardo Evangelista de Sousa</h1>
    <img src="/img/Imagem12.png" class="img-responsive" />
    <h5>"aim for the stars to reach the skies!"</h5>
</div>

<div class="container row text-center">
    <div class="col-sm-4">
        <h3>A Gift</h3>
        <p>have the opportunity to start over and learn more each day.</p>
    </div>
    <div class="col-sm-4">
        <h3>A Challenge</h3>
        <p>become a reference in ​​systems development.</p>
    </div>
    <div class="col-sm-4">
        <h3>A Dream</h3>
        <p>look back and feel proud of the journey.</p>
    </div>
</div>