@{
    ViewData["Title"] = "Starter - Home";
}

<style>
    h1 {
        padding-bottom: 10px;
    }
    p {
        padding-top: 10px;
    }
</style>


<div class="jumbotron text-center">

    <h1>Ricardo Evangelista de Sousa</h1>
    <img src="/img/Imagem12.png" class="img-responsive" />
    <p>"Aim for the stars to reach the skies!"</p>
</div>

<div class="container row text-center">
    <div class="col-sm-4">
        <h3>A Gift</h3>
        <p>Have the opportunity to start over and learn more each day.</p>
    </div>
    <div class="col-sm-4">
        <h3>A Challenge</h3>
        <p>Become a reference in the area of ​​systems development.</p>
    </div>
    <div class="col-sm-4">
        <h3>A Dream</h3>
        <p>Look back and feel proud of the journey.</p>
    </div>
</div>



