@{
    ViewData["Title"] = "Starter - Projects";
}

<div class="jumbotron text-center">
    <h1>Projects</h1>
</div>

<div class="container row text-center border-0  elemento">
    <div class="col-sm-6">
        <h3>Java GFT training</h3>
        <p>Projects developed in the Java language in order to improve knowledge.</p>
    </div>
    <div class="col-sm-6">
        <h3>C# GFT training</h3>
        <p>Projects developed in the C# language in order to improve knowledge.</p>
    </div>
</div>

<div class="container row text-xl-center elemento">
    <div class="col-sm-6">
        <h3>Java POO classes</h3>
        <p>Projects developed in the Java language in order to improve knowledge.</p>
    </div>
    <div class="col-sm-6">
        <h3>C language classes</h3>
        <p>Projects developed in the C language in order to improve knowledge.</p>
    </div>
</div>

<div class="container row text-xl-center elemento">
    <div class="col-sm-12">
        <p>Projects available at:</p> 
        <a href="https://github.com/ricardoesousa"><img src="~/img/github.png" width=100 height=100 /></a>
    </div>
</div>

