@model GerenciadorDeEventos.Models.Evento

@{
    ViewData["Title"] = "Create";
}

<h1><b>Criar Evento</b></h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="POST" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeEvento" class="control-label"></label>
                <input asp-for="NomeEvento" class="form-control" required/>
                <span asp-validation-for="NomeEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoEvento" class="control-label"></label>
                <input asp-for="DescricaoEvento" class="form-control" required/>
                <span asp-validation-for="DescricaoEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdIngressos" class="control-label"></label>
                <input asp-for="QtdIngressos" class="form-control" required/>
                <span asp-validation-for="QtdIngressos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEvento" class="control-label"></label>
                <input asp-for="DataEvento" class="form-control" required type="datetime-local"/>
                <span asp-validation-for="DataEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VlrIngresso" class="control-label"></label>
                <input asp-for="VlrIngresso" class="form-control" required/>
                <span asp-validation-for="VlrIngresso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneroEvento" class="control-label"></label>
                <select  asp-for="GeneroEvento" required>
                    <option>Rock</option>
                    <option>Pop</option>
                    <option>Jazz</option>
                    <option>Blues</option>
                    <option>MPB</option>
                    <option>Sertanejo</option>
                    <option>Axé</option>
                    <option>Outros</option>
                </select>
                <span asp-validation-for="GeneroEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalEvento" class="control-label"></label>
                <select asp-for="LocalEventoId" asp-items='@(new SelectList(ViewBag.Local,"Id","NomeLocal"))' required></select>
                <span asp-validation-for="LocalEvento" class="text-danger"></span>
            </div>

            <div class="form-group">
            <input type="file" class="form-group-file" asp-for="ImagemEvento" name="files" accept=".png, .jpg, .jpeg" required/>
            <small id="imgHelp" class="form-text text-muted">Faça o upload de uma imagem no formato jpg, jpeg ou png.</small>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" /> |
                <a class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>
<div>
</div>