@model GerenciadorDeEventos.Models.Evento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeEvento" class="control-label"></label>
                <input asp-for="NomeEvento" class="form-control" />
                <span asp-validation-for="NomeEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdIngressos" class="control-label"></label>
                <input asp-for="QtdIngressos" class="form-control" />
                <span asp-validation-for="QtdIngressos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEvento" class="control-label"></label>
                <input asp-for="DataEvento" class="form-control" />
                <span asp-validation-for="DataEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VlrIngresso" class="control-label">Valor do Ingresso</label>
                <input asp-for="VlrIngresso" class="form-control" />
                <span asp-validation-for="VlrIngresso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneroEvento" class="control-label"></label>
                <select  asp-for="GeneroEvento">
                    <option>Rock</option>
                    <option>Jazz</option>
                    <option>Pop</option>
                    <option>Sertanejo</option>
                    <option>Axé</option>
                    <option>Outros</option>
                </select>
                <span asp-validation-for="GeneroEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalEvento" class="control-label"></label>
                <select asp-for="LocalEvento.Id" asp-items='@(new SelectList(ViewBag.Local,"Id","NomeLocal"))'></select>
                <span asp-validation-for="LocalEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

