@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron text-center">
    <h1 class="display-4">CARROS IMPORTADOS</h1>
</div>
<div>
<img src="~/img/dodge-ram-10_black.jpg" class="img-fluid" alt="Imagem responsiva">
</div>