@model CarrosImportados.Models.Carro

<body>
<h2>Cadastro de Carros</h2>

<form class= "form-horizontal" asp-controller="Carros" asp-action="Salvar" method="POST" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" required/>

    <div class="form-group">
    <input  type="text" class="form-control" asp-for="Modelo" placeholder="Modelo"
    required oninvalid="this.setCustomValidity('Informe o modelo do carro')" 
    oninput="try{setCustomValidity('')}catch(e){}"/>
    </div>

    <div class="form-group">
    <input type="text" class="form-control" asp-for="Marca" placeholder="Marca" 
     required oninvalid="this.setCustomValidity('Informe a marca do carro')" 
    oninput="try{setCustomValidity('')}catch(e){}"/>

    </div>
    <div class="form-group">
    <input type="text" class="form-control" asp-for="Cor" placeholder="Cor"
     required oninvalid="this.setCustomValidity('Informe a cor do carro')" 
    oninput="try{setCustomValidity('')}catch(e){}"/>

    </div>
    <div class="form-group">
    <input type="number" class="form-control" asp-for="Ano" placeholder="Ano" min="0001" max="9999"
     required oninvalid="this.setCustomValidity('Informe o ano do carro no formato AAAA')" 
    oninput="try{setCustomValidity('')}catch(e){}"/>
    </div>

    <div class="form-group">
    <input type="text" class="form-control" asp-for="Sobre" placeholder="Sobre"
     required oninvalid="this.setCustomValidity('Informe o sobre do carro')" 
    oninput="try{setCustomValidity('')}catch(e){}"/>
    </div>

    <div class="form-group">
    <input type="file" class="form-group-file" asp-for="Imagem" name="files" accept=".png, .jpg, .jpeg"
    required oninvalid="this.setCustomValidity('Selecione uma imagem para o carro')" 
    oninput="try{setCustomValidity('')}catch(e){}"/>
    <small id="imgHelp" class="form-text text-muted">Faça o upload de uma imagem no formato jpg, jpeg ou png.</small>
    </div>

    <button class="btn btn-success">Cadastrar</button>
    <a class="btn btn-secondary" href="/Carros/Index">Voltar</a>
</form>

@if(ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function()
        {
            alert("@ViewBag.Message");
        };
    </script>
}
</body>