@model CarrosImportados.Models.Carro


<h2>Edição de Carros</h2>

<form class= "form-horizontal" asp-controller="Carros" asp-action="Salvar" method="POST" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" required/>

    <div class="form-group">
    <input  type="text" class="form-control" asp-for="Modelo" placeholder="Modelo"
    required oninvalid="this.setCustomValidity('Informe o modelo do carro')" 
    oninput="try{setCustomValidity('')}catch(e){}"/>
    </div>

    <div class="form-group">
    <input type="text" class="form-control" asp-for="Marca" placeholder="Marca" 
     required oninvalid="this.setCustomValidity('Informe a marca do carro')" 
    oninput="try{setCustomValidity('')}catch(e){}"/>

    </div>
    <div class="form-group">
    <input type="text" class="form-control" asp-for="Cor" placeholder="Cor"
     required oninvalid="this.setCustomValidity('Informe a cor do carro')" 
    oninput="try{setCustomValidity('')}catch(e){}"/>

    </div>
    <div class="form-group">
    <input type="number" class="form-control" asp-for="Ano" placeholder="Ano" min="0001" max="9999"
     required oninvalid="this.setCustomValidity('Informe o ano do carro no formato AAAA')" 
    oninput="try{setCustomValidity('')}catch(e){}"/>
    </div>

    <div class="form-group">
    <input type="text" class="form-control" asp-for="Sobre" placeholder="Sobre"
     required oninvalid="this.setCustomValidity('Informe o sobre do carro')" 
    oninput="try{setCustomValidity('')}catch(e){}"/>
    </div>

    <div class="form-group">
    <input type="file" class="form-group-file" asp-for="Imagem" name="files" accept=".png, .jpg, .jpeg"/>
    <small id="imgHelp" class="form-text text-muted">Caso queira alterar a imagem, faça o upload de um arquivo no formato .jpg .jpeg.png.</small>
    </div>

    <button class="btn btn-success">Salvar</button>

</form>